div {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #f0d8e5;
  color: #9e517e;
  text-align: left;
  font-size: 20px;
}

.image-size {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 2px;
}

button {
  background-color: #f0d8e5;
  color: #9e517e;
  margin-top: 2px;
  border-radius: 7px;
}

a.link-colour:link {
  color: #9e517e;
}

a.link-colour:visited {
  color: #915da5;
}

a.link-colour:focus {
  color: #f30b92;
}

a.link-colour:hover {
  color: #c5197d;
}

a.link-colour:active {
  color: #f30b92;
}
