<div class="row">
  <div class="col-sm-1">
    <img class="image-size" src="{{ prod?.image }}" alt="Hier Bildtitel einfügen" />
  </div>

  <div class="col-sm-3">
    <b>{{ prod.title }}</b>
  </div>

  <div class="col-sm-3">{{ prod.descriptionShort }}</div>

  <div class="col-sm-3">
    <b>{{ prod?.price | calculateToEur: prod?.currency | currency: "EUR" }}</b>
  </div>

  <div class="col-sm-1">
    <button title="Aus der Bestellung entfernen">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>
