<div class="row">
  <div class="col-sm-1">
    <img class="image-size" src="{{ prod?.image }}" alt="Hier Bildtitel einfügen" />
  </div>

  <a class="col-sm-3 link-colour" [routerLink]="['order-product-detail', prod?.id]">
    <b>{{ prod.title }}</b>
  </a>

  <a class="col-sm-3 link-colour" [routerLink]="['order-product-detail', prod?.id]">
    {{ prod.descriptionShort }}
  </a>

  <div class="col-sm-3">
    <b>{{ prod?.price | calculateToEur: prod?.currency | currency: "EUR" }}</b>
  </div>

  <div class="col-sm-1">
    <button [disabled]="disableTrash" title="Aus der Bestellung entfernen" (click)="clickOnTrash()">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>
