p {
  margin-top: 10px;
  padding: 10px;
  background-color: #e0b7cf;
  color: #9e517e;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: #e0b7cf;
  color: #9e517e;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
