p {
  margin-top: 10px;
  padding: 10px;
  background-color: #e0b7cf;
  color: #9e517e;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.image-size {
  width: 100px;
  height: 100px;
}

.product-item {
  margin-bottom: 5px;
  background-color: #bdaec4;
  color: #411375;
  text-align: center;
}
