.fa-3x {
  color: #e0b7cf;
}

span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #f0d8e5;
  color: #915da5;
  font-weight: bold;
  padding-top: 2px;
}
