.navigation {
  margin-top: 10px;
  background-color: #e0b7cf;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

a.link-colour:link {
  color: #9e517e;
}

a.link-colour:visited {
  color: #915da5;
}

a.link-colour:focus {
  color: #f30b92;
}

a.link-colour:hover {
  color: #c5197d;
}

a.link-colour:active {
  color: #f30b92;
}
