div {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
  background-color: #f0d8e5;
  color: #9e517e;
}

.image-size {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin-left: 5px;
}

h5 {
  font-weight: bold;
}

a.link-colour:link {
  color: #9e517e;
}

a.link-colour:visited {
  color: #915da5;
}

a.link-colour:focus {
  color: #f30b92;
}

a.link-colour:hover {
  color: #c5197d;
}

a.link-colour:active {
  color: #f30b92;
}
